.top {
  width: 100%;
  height: 650px;
  background: yellow;
}

.left {
  width: 100%;
  height: 100px;
  background: red;
}

.center {
  width: 70%;
  height: 500px;
  background: blue;
  margin: 0 auto;
}

.right {
  width: 70%;
  height: 50px;
  background: green;
  margin: auto;
}

.bottom {
  width: 70%;
  height: 50px;
  background: green;
  margin: auto;
}
